<!DOCTYPE html>

<html>

<head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site uses data from mapbox and darksky to forecast the weather for a specific location.</p>
        <img class="portrait" src="https://picsum.photos/id/1035/400/600">
        <p>created by {{name}}</p>

    </div>
    {{>footer}}
</body>


</html>